<html>
	<body>
		<p>These are the attributes to the word</p>
		<p>ID: <%= @wordinfo.id %></p>
		<p>Word: <%= @wordinfo.word %></p>
		<p>Word Type: <%= @wordinfo.pos %></p>
		<p>Spoken Frequency: <%= @wordinfo.f_spoken %></p>
		<p>Log Likelihood: <%= @wordinfo.ll %></p>
		<p>Written Frequency: <%= @wordinfo.f_writen %></p>
	</body>
</html>